<!DOCTYPE html>
<html>
<head>
  <title>Programmers Navbar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Programmers We L<span class="glyphicon glyphicon-heart"></span>ve

<%= yield %>

</body>
</html>